@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	transition: all 0.3s ease;
}

:root {
	--orange: #d87d4a;
	--orange-pale: #fbaf85;
	--black: #101010;
	--grey: #f1f1f1;
	--grey-variant: #fafafa;
	--shadow-black: rgba(0, 0, 0, 0.2);

	--rounded-sm: 8px;
	--width-xl: 1440px;
}

body {
	font-family: "Manrope", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-size: 16px;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--black);
	height: 100vh;
}

.container {
	display: flex;
	width: 100%;
	max-width: var(--width-xl);
	height: 80vh;
	position: relative;
	border-radius: var(--rounded-sm);
	box-shadow: 0 0 10px 3px var(--shadow-black);
}

.video-section {
	position: relative;
	height: 100%;
	width: 40%;
	display: flex;
	overflow-x: hidden;
	filter: contrast(120%);
	border-radius: 8px 0 0 8px;
}

.logo {
	color: var(--orange);
	font-size: 2rem;
	position: absolute;
	top: 2rem;
	left: 2rem;
}

#myVideo {
	height: 100%;
	object-position: -200px;
}

.form-section {
	background-color: var(--grey);
	height: 100%;
	width: 60%;
	border-radius: 0 8px 8px 0;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2rem 0;
	width: 100%;
	height: 100%;
}

legend {
	font-weight: 600;
}

.form-text,
.form-header,
.form-inputs,
.submit-section {
	padding: 0 2rem;
}

.form-text {
	margin-top: -2rem;
	font-weight: 700;
}

.form-header {
	background-color: var(--grey-variant);
	padding: 2rem;
	margin-top: 1rem;
}

.form-inputs {
	display: flex;
	flex-wrap: wrap;
	background-color: var(--grey-variant);
	padding-bottom: 2rem;
	margin-bottom: 1rem;
}

.form-control {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding: 0.75rem 0;
	position: relative;
}

.form-control label {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.75rem;
	letter-spacing: 2px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.form-control label.active {
	top: 0;
	transform: translateY(0);
}

.form-control input {
	width: 75%;
	padding: 8px 2px;
	background-color: transparent;
	outline: none;
	border: none;
	border-bottom: 1px solid var(--black);
	&:valid {
		border-color: rgb(68, 233, 68);
	}
	&:invalid {
		border-color: rgb(255, 59, 59);
	}
}

.submit-section {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

a.log-in-link {
	color: var(--orange);
	text-decoration: none;
	font-weight: 700;
}

.btn-submit {
	background-color: var(--orange);
	color: var(--grey);
	text-transform: uppercase;
	padding: 16px 24px;
	border: 1px solid transparent;
	cursor: pointer;
	max-width: fit-content;
	&:hover {
		background-color: var(--orange-pale);
		color: var(--grey-variant);
	}
}

@media (max-width: 1440px) {
	.container {
		width: 100%;
		height: 100%;
		border-radius: 0;
	}

	.video-section,
	.form-section {
		border-radius: 0;
	}
}

@media (max-width: 768px) {
	.container {
		flex-direction: column;
	}
	.video-section,
	.form-section {
		width: 100%;
	}

	.video-section {
		height: 30%;
	}

	#myVideo {
		width: 100vw;
		object-fit: cover;
		object-position: center;
	}

	.logo {
		left: auto;
		right: 2rem;
	}
}

@media (max-width: 430px) {
	main {
		height: auto;
	}

	.form-text {
		margin: 0;
	}

	.video-section {
		overflow: auto;
	}

	.form-control,
	.form-control input {
		width: 100%;
	}

	.form-section {
		padding-bottom: 2rem;
	}
}
